<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /apartamentos

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
</IfModule>

<IfModule !mod_rewrite.c>
ErrorDocument 404 /apartamentos/index.php
</IfModule>
AddDefaultCharset UTF-8